push constant 1
push constant 2
push constant 3
push constant 4
pop local 0
pop local 1
pop argument 0
pop argument 1

push local 0
push local 1
add
push argument 0
push argument 1
add
add
pop static 0
