push constant 7
push constant 4000
push constant 3000
pop pointer 0
pop pointer 1

push constant 10
push constant 4

call function1.pippo 2
pop this 5

label WHILE
goto WHILE

function function1.pippo 1
label BEGIN
push argument 0
push constant 0
eq
if-goto END
push argument 1
push local 0
add
pop local 0
push argument 0
push constant 1
sub
pop argument 0
goto BEGIN


label END
push local 0

return
